<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <main>
        
        <div class="card">
            <div class="card-header">
                Thông tin cá nhân
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label>Username</label> <br>
                        <label type="text" class="form-control" th:text="${account.username}"/><br>
                        <label> Fullname </label>
                        <label type="text" class="form-control" th:text="${account.fullname}" /> <br>
                        <label> Email </label>
                        <label type="email" class="form-control" th:text="${account.email}" /> <br>
                        <label>Vai trò</label> <br>
                        <i th:each="a : ${authority}">
                            <i>[[${a.role.name}]]</i>
                        </i>
                    </div>
                    <div class="col-6" th:if="${account.photo}">
                        <img class="mx-auto d-block img-fluid w-75"
                             th:src="@{'/utilities/img/imagesStaff/' + ${account.photo}}"/>
                    </div>
                    <div class="col-6" th:if="${account.photo == null}">
                        <img class="mx-auto d-block img-fluid w-75"
                             th:src="@{'/utilities/img/imagesStaff/admin.png'}"/>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>
</html>