<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Giá tiền</th>
            <th scope="col">Ngày tháng</th>
            <th scope="col">Loại sản phẩm</th>
            <th scope="col">Trạng thái</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="p in items">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td><img src="/utilities/img/images/{{p.image}}" style="width: 50px;"></td>
            <td>{{p.price | number : 2}} VNĐ</td>
            <td>{{p.createDate | date : 'dd-MM-yyyy'}}</td>
            <td>{{p.category.name}}</td>
            <td>{{p.available ? 'Yes' : 'No'}}</td>
            <td>
                <div>
                    <button class="btn btn-primary" ng-click="edit(p)"> <i class="fa fa-check-circle-o"
                            aria-hidden="true"></i> edit</button>
                    <button class="btn btn-danger"> <i class="fa fa-trash"></i> remove</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="panel-footer text-center">
    <button ng-click="pager.first()" class="btn btn-danger">
        <b class="glyphicon glyphicon-hand-up"></b>
    </button>
    <button ng-click="pager.prev()" class="btn btn-primary">
        <b class="glyphicon glyphicon-hand-left"></b>
    </button>
    <button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
    <button ng-click="pager.next()" class="btn btn-primary">
        <b class="glyphicon glyphicon-hand-right"></b>
    </button>
    <button ng-click="pager.last()" class="btn btn-danger">
        <b class="glyphicon glyphicon-hand-down"></b>
    </button>
</div>