<div class="footer">
    <div class="reserved-top">
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2 col-md-2 mr-t">
            <div class="caixa-img-footer">
                <img src="http://placehold.it/500x330" class="img-responsive" alt="" width="100%" height="100%">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 mr-t">
            <div class="caixa-img-footer">
                <img src="http://placehold.it/500x330" class="img-responsive" alt="" width="100%" height="100%">
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <ul>
                <li><a class="li-title" href="#">Mục danh bạ</a></li>
                <li><a class="li-text" th:href="@{/product/list}"> <i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a></li>
                <li><a class="li-text" th:href="@{/security/login/form}"> <i class="fa fa-user" aria-hidden="true"></i> Đăng nhập</a></li>
                <li><a class="li-text" th:href="@{/account/register}"> <i class="fa fa-pencil-square-o"></i> Đăng ký</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul>
                <li><a class="li-title" href="#">Cá nhân</a></li>
                <li><a class="li-text" href="https://www.facebook.com/LeBaoDangTvv"> <i class="fa fa-facebook-official"></i> Facebook</a></li>
                <li><a class="li-text" href="#"><i class="fa fa-send-o"></i> Email</a></li>
            </ul>
        </div>
    </div>
    <div class="reserved-bot">
        <p class="text-center"> ShoppingSite 2023 && Lê Bảo Đăng
        </p>
    </div>
</div>