<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Giá tiền</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><img src="/utilities/img/images/{{item.image}}" alt="" style="width: 50px;" /></td>
            <td>${{item.price | number : 2}} VNĐ</td>
            <td><input type="number" class="form-control" ng-change="cart.saveToLocalStorage()"
                    ng-model="item.qty" min="1" max="99" step="1"
                    onchange="updateCartItem( this )" /></td>
            <td>${{item.qty*item.price | number : 2}} VNĐ</td>
            <td>
                <button class="btn btn-danger" ng-click="cart.remove(item.id)"> <i class="fa fa-trash"></i> Remove</button>
            </td>
        </tr>
    </tbody>
</table>