<div class="row">
	<div class="col-4">
		<label for="image">
			<img ng-src="{{'/utilities/img/images/' + form.image}}" class="mx-auto img-fluid w-100"
				style="max-width: 100%;">
		</label>
		<br>
		<button><input type="file" class="form-control-file" id="image"
				onchange="angular.element(this).scope().imageChanged(this.files)"></button>
	</div>
	<div class="col-4">
		<label for="">Mã nhân viên</label>
		<input type="text" class="form-control" ng-model="form.username">
		<br>
		<label for="">Tên nhân viên</label>
		<input type="text" class="form-control" ng-model="form.fullname">
		<br>
	</div>
	<div class="col-4">
		<label for="">Vai trò</label>
		<select class="form-control" ng-model="form.role.id"> 
			<option ng-repeat="c in roles" ng-value="c.id">{{roles.name}}</option>
		</select>
		<br>
		<label for="">Email</label>
		<input type="email" class="form-control" ng-model="form.email">
	</div>
</div>
<div class="row">
	<div class="col-4"></div>
	<div class="col-8">
		<div class="panel-footer">
			<button ng-click="create()" class="btn btn-primary">
				<i class="fa fa-check-square-o"></i> Thêm
			</button>
			<button ng-click="update()" class="btn btn-success">
				<i class="fa fa-pencil"></i> Cập nhật
			</button>
			<button ng-click="delete(form)" class="btn btn-danger">
				<i class="fa fa-trash"></i> Xóa
			</button>
			<button ng-click="reset()" class="btn btn-info">
				<i class="fa fa-refresh"></i> Làm mới
			</button>
		</div>
	</div>
</div>